<div>
  <a
    class="block relative h-72 rounded overflow-hidden"
    routerLink="/products/{{ product.id }}"
  >
    <img
      alt="{{ product.name }}"
      class="object-cover object-center w-full h-full block"
      src="{{ product.url }}"
    />
  </a>
  <div class="mt-4">
    <h2 class="text-gray-900 title-font text-lg font-medium">
      {{ product.name }}
    </h2>
    <p class="mt-1">${{ product.price }}</p>
  </div>
  <div class="relative mt-4">
    <div>
      <label for="Quantity" class="sr-only"> Quantity </label>

      <div class="flex items-center justify-around gap-1">
        <button
          type="button"
          (click)="decreaseQuantity()"
          [disabled]="quantity === 1"
          class="h-10 leading-10 text-gray-600 transition hover:opacity-75"
        >
          &minus;
        </button>

        <input
          type="number"
          id="Quantity"
          [(ngModel)]="quantity"
          min="1"
          class="h-10 border-gray-200 rounded sm:text-sm text-center"
        />

        <button
          type="button"
          (click)="increaseQuantity()"
          class="h-10 leading-10 text-gray-600 transition hover:opacity-75"
        >
          &plus;
        </button>
      </div>
    </div>

    <button
      type="button"
      (click)="addToCart()"
      class="flex w-full justify-center mx-auto mt-6 text-white bg-gray-800 border-0 py-2 px-8 focus:outline-none hover:bg-gray-700 rounded"
    >
      Add to Cart
    </button>
  </div>
</div>
